@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = $"{L["Forgot your password?"].Value} | {L["ServiceName"].Value}";
}

<h1>@L["Forgot your password?"]</h1>
<h2>@L["Enter your email."]</h2>
<div>
	<div>
		<form method="post">
			<div asp-validation-summary="ModelOnly" role="alert"></div>
			<div>
				<label asp-for="Input.Email">@L["Email"]</label>
				<input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
				<span asp-validation-for="Input.Email"></span>
			</div>
			<button type="submit">@L["Reset Password"]</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
