@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Meguri</h1>
    <p>コミックマーケット104に参加します。</p>
    <p>月-西さ17b　同人ソフト</p>
    <p>
        .NET on Debian（C# MVC）で
        <br>同人活動に優しいSNSの開発
    </p>
    <img src="/img/C104.png" class="details-work-image" />
    <p>
        <a href="https://webcatalog-free.circle.ms/Circle/19017203">コミケWebカタログサークルページ</a>
        <br>現在開発中です。
        <br>一切のセキュリティの保障がありません。
        <br>データはすべて削除されます。
    </p>
    </p>
</div>
