@model Meguri.Models.UploadFile

@{
    ViewData["Title"] = "Edit";
    var image = Convert.ToBase64String(Model.FileContent);
}

<h1>Edit</h1>

<h4>UploadFile</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="FileContent"></label>
                <div>
                    <img src="data:image/png;base64,@image">
                </div>
                <input asp-for="FileContent" type="file"/>
                <span asp-validation-for="FileContent"></span>
            </div>
            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
