@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div>
    <div>
        <form id="email-form" method="post">
            <div asp-validation-summary="All" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div>
                    <input asp-for="Email" placeholder="Please enter your email." disabled />
                        <div>
                            <span>✓</span>
                        </div>
                    <label asp-for="Email"></label>
                </div>
            }
            else
            {
                <div>
                    <input asp-for="Email" placeholder="Please enter your email." disabled />
                    <label asp-for="Email"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail">Send verification email</button>
                </div>
            }
            <div>
                <input asp-for="Input.NewEmail" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                <label asp-for="Input.NewEmail"></label>
                <span asp-validation-for="Input.NewEmail"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
