@model Meguri.Models.Work

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Work</h4>
<hr />
<div>
    <div>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Text"></label>
                <input asp-for="Text" />
                <span asp-validation-for="Text"></span>
            </div>
            <div>
                <label asp-for="ParentId"></label>
                <input asp-for="ParentId" value="0" />
                <span asp-validation-for="ParentId"></span>
            </div>
            <div>
                <label asp-for="WorkType"></label>
                <input asp-for="WorkType" value="Illustration" />
                <span asp-validation-for="WorkType"></span>
            </div>
            <div>
                <label asp-for="CategoryId"></label>
                <input asp-for="CategoryId" value="" />
                <span asp-validation-for="CategoryId"></span>
            </div>
            <div>
                <label asp-for="Tag1"></label>
                <input asp-for="Tag1" />
                <span asp-validation-for="Tag1"></span>
            </div>
            <div>
                <label asp-for="Tag2"></label>
                <input asp-for="Tag2" />
                <span asp-validation-for="Tag2"></span>
            </div>
            <div>
                <label asp-for="Tag3"></label>
                <input asp-for="Tag3" />
                <span asp-validation-for="Tag3"></span>
            </div>
            <div>
                <label asp-for="FileContent"></label>
                <input asp-for="FileContent" type="file"/>
            </div>
            <div>
                <label>
                    <input asp-for="Sexual" /> @Html.DisplayNameFor(model => model.Sexual)
                </label>
            </div>
            <div>
                <label>
                    <input asp-for="Violence" /> @Html.DisplayNameFor(model => model.Violence)
                </label>
            </div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
