@model Meguri.Models.Work

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Work</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <input asp-for="ParentId" class="form-control" />
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkType" class="control-label"></label>
                <input asp-for="WorkType" class="form-control" />
                <span asp-validation-for="WorkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag1" class="control-label"></label>
                <input asp-for="Tag1" class="form-control" />
                <span asp-validation-for="Tag1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag2" class="control-label"></label>
                <input asp-for="Tag2" class="form-control" />
                <span asp-validation-for="Tag2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag3" class="control-label"></label>
                <input asp-for="Tag3" class="form-control" />
                <span asp-validation-for="Tag3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileContent" class="control-label"></label>
                @if (Model.FileContent != null) {
                    <div>
                        @{
                            var image = Convert.ToBase64String(Model.FileContent);
                        }
                        <img src="data:image/png;base64,@image" class="details-work-image">
                    </div>
                }
                <input asp-for="FileContent" class="form-control" type="file" />
                <span asp-validation-for="FileContent" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sexual" /> @Html.DisplayNameFor(model => model.Sexual)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Violence" /> @Html.DisplayNameFor(model => model.Violence)
                </label>
            </div>
            @*
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
