img.index-work-image {
    max-width: 4rem;
    max-height: 4rem;
}

img.details-work-image {
    margin-top: 0.2rem;
    max-width: 320px;
    max-height: 320px;
}

#FileContent {
    margin-top: 0.5rem;
}